<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> App landing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" th:href="@{site.webmanifest}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/assets/css/progressbar_barfiller.css}">
    <link rel="stylesheet" th:href="@{/assets/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animated-headline.css}">
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img th:src="@{/assets/img/logo/loder.png}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start-->


<main class="login-body" data-vide-bg="assets/img/login-bg.mp4">
    <!-- Login Admin -->
    <form class="form-default" th:action="@{/do-register}" method="POST">

        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <a th:href="@{/}"><img th:src="@{/assets/img/logo/loder.png}" alt=""></a>
            </div>
            <h2>Registration Here</h2>

            <div class="form-input">
                <label for="username">Username</label>
                <input  type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="form-input">
                <label for="password">password</label>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-input">
                <label for="repeatPassword">Confirm Password</label>
                <input type="password" id="repeatPassword" name="repeatPassword" placeholder="Confirm Password">
            </div>
            <div class="form-input pt-30">
                <input type="submit" name="submit" value="Registration">
            </div>
            <!-- Forget Password -->
            <a th:href="@{/login}" class="registration">login</a>
        </div>
    </form>
    <!-- /end login form -->
</main>


<script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
<script th:src="@{/assets/js/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- Jquery Mobile Menu -->
<script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

<!-- Video bg -->
<script th:src="@{/assets/js/jquery.vide.js}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>
<script th:src="@{/assets/js/slick.min.js}"></script>
<!-- One Page, Animated-HeadLin -->
<script th:src="@{/assets/js/wow.min.js}"></script>
<script th:src="@{/assets/js/animated.headline.js}"></script>
<script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

<!-- Date Picker -->
<script th:src="@{/assets/js/gijgo.min.js}"></script>
<!-- Nice-select, sticky -->
<script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/assets/js/jquery.sticky.js}"></script>
<!-- Progress -->
<script th:src="@{/assets/js/jquery.barfiller.js}"></script>

<!-- counter , waypoint,Hover Direction -->
<script th:src="@{/assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{/assets/js/waypoints.min.js}"></script>
<script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
<script th:src="@{/assets/js/hover-direction-snake.min.js}"></script>

<!-- contact js -->
<script th:src="@{/assets/js/contact.js}"></script>
<script th:src="@{/assets/js/jquery.form.js}"></script>
<script th:src="@{/assets/js/jquery.validate.min.js}"></script>
<script th:src="@{/assets/js/mail-script.js}"></script>
<script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>

<!-- Jquery Plugins, main Jquery -->
<script th:src="@{/assets/js/plugins.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

</body>
</html>